In [2]:
import pandas as pd
import re
commentary_text = """
19.2 Boult to Gill, FOUR! Crunched past cover
19.1 Boult to Gill, 1 run, taps to point, quick single
18.6 Chahal to Miller, OUT! Caught at deep mid-wicket
18.5 Chahal to Miller, SIX! Massive hit over long-on
"""
data = []
for line in commentary_text.strip().split("\n"):
    match = re.match(r"(\d+)\.(\d+) (\w+) to (\w+), (.*)", line)
    
    if match:
        over = int(match.group(1))
        ball_no = int(match.group(2))
        bowler = match.group(3)
        batter = match.group(4)
        ball_details = match.group(5)
        if "FOUR" in ball_details:
            ball_type = "legal"
            shot_type = "boundary"
            runs = 4
        elif "SIX" in ball_details:
            ball_type = "legal"
            shot_type = "boundary"
            runs = 6
        elif "OUT" in ball_details:
            ball_type = "legal"
            shot_type = "wicket"
            runs = 0
        elif "wide" in ball_details:
            ball_type = "wide"
            shot_type = "none"
            runs = 1
        elif "no ball" in ball_details:
            ball_type = "no ball"
            shot_type = "none"
            runs = 1
        else:
            ball_type = "legal"
            shot_type = "other"
            runs = int(re.search(r"(\d+) run", ball_details).group(1)) if re.search(r"(\d+) run", ball_details) else 0

        data.append([ball_no, over, bowler, batter, ball_type, shot_type, runs])
df = pd.DataFrame(data, columns=["Ball No", "Over", "Bowler", "Batter", "Ball Type", "Shot Type", "Runs Scored"])
display(df)

   Ball No  Over  Bowler  Batter Ball Type Shot Type  Runs Scored
0        2    19   Boult    Gill     legal  boundary            4
1        1    19   Boult    Gill     legal     other            1
2        6    18  Chahal  Miller     legal    wicket            0
3        5    18  Chahal  Miller     legal  boundary            6

In [3]:
csv_filename = "Structured Data Output.csv"
df.to_csv(csv_filename, index=False)

print(f"✅ CSV file saved as '{csv_filename}'")

✅ CSV file saved as 'Structured Data Output.csv'